@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    box-sizing: border-box;
}

.color-1 {
  color: #7C00FE;
}

.color-2 {
    color: #F9E400;
}

.color-3 {
    color: #FFAF00;
}
  
.color-4 {
    color: #F5004F;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}

.fs-40 {
    font-size: 40px;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

body {
    padding: 0 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

header nav ul {
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
}

header nav ul li {
    align-items: center;
    display: inline-block;
    padding: 0 5px;
}

header nav ul li a {
   color: #FFAF00;
}

header nav ul li a:hover{
    color: #F9E400;
}

header nav ul li a:active{
    color: #F5004F;
 }

.logo {
    text-decoration: none;
}

/*****products*********/
.product-list li {
    padding: 10px 0 10px 0;
    list-style-position: inside;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-items  {
    text-align: center;
    font-weight: 500;
    width: 300px;
    box-shadow: 3px 3px 6px #FFAF00, 3px 3px 3px #F9E400, 6px 6px 6px #F5004F;

}

.product-items img{
    width: 300px;
}

.product-items .title{
    font-weight: 900;
}
.product-items .price{
    color: #F5004F;
    font-weight: 900;
    font-style: oblique;
}
/*****products*********/